{% extends "layout.twig" %}

{% block content %}
<h1 style="text-align: center;">HOMEPAGE</h1>
<h3 style="text-align: center;">Seja bem vindo ao Silex Skeleton</h3>
<h6 style="text-align: center;">by <a href="http://twitter.com/mlalbuquerque">@mlalbuquerque</a></h6>
{% endblock %}
