{% extends "layout.twig" %}

{% block content %}
<h1 style="text-align: center;">HOMEPAGE</h1>
<h3 style="text-align: center;">Seja bem vindo ao Silex Skeleton</h3>
<div style="text-align: center;">
    <a href="/usuario">P&aacute;gina de Usu&aacute;rios</a><br/>
    <a href="/admin">Administra&ccedil;&atilde;o</a><br/>
    <a href="/logout">Logout</a>
</div>
<h6 style="text-align: center;">by <a href="http://twitter.com/mlalbuquerque">@mlalbuquerque</a></h6>
{% endblock %}
