<!DOCTYPE html>
<html>
    <head>
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Silex Skeleton</title>
        {% block css %}
        <link href="/css/main.css" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>
    <body>
        <div id="content">
            {% block content %}
            <h1>Congratulations!</h1>
            <h3>You successfully installed Silex Skeleton</h3>
            by <a href="https://twitter.com/mlalbuquerque">@mlalbuquerque</a>
            {% endblock %}
            {% block footer %}{% endblock %}
        </div>
        {% block js %}{% endblock %}
    </body>
</html>
